body {
background-color: #fdefd2;

}

html {
font-family: sans-serif;
}


div {
color:black;
background-color: bisque;

}

*{
    color:black;

}

p {
color: black;
font-size: 18px;
background-color: #c7dfbd;

}

hr {
 border: 5px solid #80c6d0;
 border-radius: 5px;

}

button{
    font-size: 25px;
    border-color: #80c6d0;
    background-color: #c7dfbd;
    color:black;
}