body {
background-color: #fdefd2;
background-image: url(https://i.redd.it/qkiu86oypn571.png);
}


*{
border: 3px solid black;
background-color: #c4ecd9;
border-radius: 5px;
padding: 10px;
margin: 20px;

}

img{
    border: 5px;
    border-radius: 10px;
    background-color: #c4ecd973;
}


html {
font-family: Helvetica;
}

header{
    text-align: center;
}

*{
    color:black;

}
h2{
    text-align: center;
}
p {
color: black;
font-size: 18px;


}

hr {
 border: 5px solid black;
 border-radius: 5px;

}

button{
    font-size: 25px;
    border-color: #80c6d0;

    color:black;
}


.font-size{
 font-size: 30px;
}

.odd{
    background-color: #c7dfbd;
}

#two{
    background-color: #dbbf6c;
}

#four{
   background-color: #ecc4c4; 
}


.CMIYGL1,.CMIYGLTES{
    font-size: 25px;
    border-color: #80c6d0;
    color:black; 
}


.CMIYGL1{

    background-color: #dbbf6c;  
}

.CMIYGLTES{
    background-color: #ecc4c4;
}

.otherbutton{
    background-color: #c4ecd9; 
}


.avatar.proportioned{
    width: 500px;
    height: 500px;
    
}

.avatar.Distorded{
    width: 300px;
    height: 200px;
}

.container .text{
    background-color: #ecc4c4;
    font-size: 25px;
}


.list{
    font-size: large;
    text-align:center;
}

.list ol {
    display: inline-block;
    margin: 0;
    padding: 5px;

    zoom:1;
    *display: inline;
    
}



.button{
    text-align: center;
    font-size: medium;
    border-width: 5px;
    
}

.button.confirm{
    border-width: 6px;
background-color: #80c6d0;
border-color:#80c6d0;
}

.button.cancel{
background-color: #ecc4c4;
border-color:#ecc4c4;

}


.para{
    font-weight: bold;
}

.para.small-para{
 font-size: small;
}




.stext{
   font-style: italic;
}


.stext .stext.child {
    font-size: small;
    font-weight: bolder;
}

.Normal{
    background-color: #80c6d0 ;
    width: 300px;
    height: 50px;
    border: 15px solid #ecc4c4;
    margin: 250px;
    padding: 50px;
}

.awesome{
    background-color: #80c6d0 ;
    width: 300px;
    height: 50px;
    border: 15px solid #dbbf6c;
    box-sizing: border-box;
    margin: 250px;
    padding: 50px;
   
}